
/*2015-05-25*/
body{
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

body {
	font-weight: 300;
	font-size: 30px;
	font-family: 'Open Sans', 'helvetica', arial, sans-serif;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	color: #62686f;
	
}

.container{
	width: 960px;
	margin: 0 auto;
}

.main-header{
		background-image: url(../img/banner.jpg);
        background-attachment: scroll;
        background-size: cover;
        background-position: 49% 50%;
        color: #EEE;

        display: block;
        text-align: center;
	
        padding-bottom: 20px;
        margin-top: 105px;
        position: relative;
}

.main-header__avatar{
	border:#000 3px solid;	
	border-color: #EEE ;
	margin-top: -70px;	
	margin-bottom: 10px;
	box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius:  999px;

}

h1 h2 h3 h4 h5 h6{
	color: #333;
	font-weight: 300;
}

.main-header h1{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 1px;
	color: #EEE;
}

/*2015-05-26*/

.main-nav {
  background-color: #333;
  text-align: center;
  /*自己增加了令整个容器居中*/

  margin-top: -35px;
}

.main-nav ul li {
  margin: 15px 10px;
}

.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  /*所有字母转换成大写*/
  text-decoration: none;
  /*消除装饰*/
}

.main-nav ul li a:hover {
  text-decoration: underline;
}

.main-nav li{
	list-style: none;
	/*消除了列表的默认样式*/
	display: inline-block;
	/*将 li 标签变成了行元素。
	inline-block 元素可以简单理解为对外表现为行元素，而对内表现为块元素。*/
}

/*What I Do 部分*/
.info-section {
  background-color: #fff;
  margin-top: -36px;
  padding: 30px 60px;
}

.whatido__skill{
	list-style: none;
}

.whatido__skill-list{
	overflow: hidden;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

.whatido__skill--code {
  background-image: url(../img/skill-code.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 60px;
  text-align: center;

  float: left;
  width: 33.3%;
}

.whatido__skill--design {
  background-image: url(../img/skill-design.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 60px;
  text-align: center;

  float: left;
  width: 33.3%;
}

.whatido__skill--product {
  background-image: url(../img/skill-product.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 60px;
  text-align: center;
  
  float: left;
  width: 33.3%;
}

.whatido header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;

 /* text-decoration: underline;*/
  /*给标题加下划线*/
}

.info-section header h2:after{
	content: "";
	display: table;
	margin: 0 auto; 
	/*居中*/
	width: 120px;
	border-bottom: 3px solid black
}

.info-section__description {
  font-style: italic;
  margin-bottom: 60px;
}

.info-section header{
  margin-bottom: 60px;
  text-align: center;
}

/*2015-05-27*/

.education-experience__list img{
  width: 180px;
  float: left;
  margin-right: 40px;
}

.education-experience__list h3{
  overflow: hidden;
}

.education-experience__list p{
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.get-in-touch__list li{
  list-style: none;
}

.photos__list li{
  list-style: none;
}

.photos__list img:before,img:after{
  box-sizing: inherit;
}

.photos__list img{
  width: 100%;
  padding: 10px;
}

.photos li{
  float: left;
  width:25%;
  box-sizing: border-box;
}


/*2015-05-28*/

.get-in-touch__list li{
  float: left;
  width:25%;
  box-sizing: border-box;
}

.get-in-touch__list img{
  width:100%;
  padding: 20px;
}

.get-in-touch__list p{
  text-align: center;
}

.contact input,
.contact textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact button {
  border: none;
  border-radius: 9999px;

  background: #ffd524;

  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  color: #fff;
  box-shadow: 0 3px 0 #daae1d;
}

.contact input{
  padding: 8px;
}

.contact form{
  width: 40%;
  margin: 0 auto;
}

.contact div{
  position: relative;
  margin-top: 15px;
}

.contact input,
.contact textarea{
  width: 400px;
}

.contact button{
  margin: 10px;
  width: 400px;
}

div label{
  position: absolute;
  left: -40%;
  width: 100%;
}